<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>播放设置</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>弹幕设置</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>缓存设置</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>分享授权设置</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>关闭启动动画</string>
			<key>type</key>
			<integer>1</integer>
			<key>target</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关于『哔哩哔哩iOS非官方客户端』</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>给我们评分</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>反馈问题或建议</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>当前版本</string>
			<key>type</key>
			<integer>2</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>核心组件</string>
			<key>type</key>
			<integer>2</integer>
			<key>target</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>启动组件</string>
			<key>type</key>
			<integer>2</integer>
			<key>target</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>开源组件许可</string>
			<key>type</key>
			<integer>0</integer>
			<key>target</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
