<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hideNavigationBar</key>
		<false/>
		<key>class</key>
		<string>lwHomeVC</string>
		<key>title</key>
		<string>首页</string>
		<key>normal</key>
		<string>home_home_tab</string>
		<key>select</key>
		<string>home_home_tab_s</string>
		<key>config</key>
		<array>
			<dict>
				<key>labels</key>
				<array>
					<string>直播</string>
					<string>推荐</string>
					<string>番剧</string>
				</array>
				<key>controllers</key>
				<array>
					<string>lwLiveVideoVC</string>
					<string>lwRecommendVC</string>
					<string>lwSoapOperaVC</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>hideNavigationBar</key>
		<false/>
		<key>class</key>
		<string>lwCategoryVC</string>
		<key>title</key>
		<string>分区</string>
		<key>normal</key>
		<string>home_category_tab</string>
		<key>select</key>
		<string>home_category_tab_s</string>
	</dict>
	<dict>
		<key>hideNavigationBar</key>
		<false/>
		<key>class</key>
		<string>lwAttentionVC</string>
		<key>title</key>
		<string>关注</string>
		<key>normal</key>
		<string>home_attention_tab</string>
		<key>select</key>
		<string>home_attention_tab_s</string>
	</dict>
	<dict>
		<key>hideNavigationBar</key>
		<true/>
		<key>class</key>
		<string>lwSearchVC</string>
		<key>title</key>
		<string>发现</string>
		<key>normal</key>
		<string>home_search_tab</string>
		<key>select</key>
		<string>home_search_tab_s</string>
	</dict>
	<dict>
		<key>hideNavigationBar</key>
		<true/>
		<key>class</key>
		<string>lwMineVC</string>
		<key>title</key>
		<string>我的</string>
		<key>normal</key>
		<string>home_mine_tab</string>
		<key>select</key>
		<string>home_mine_tab_s</string>
	</dict>
</array>
</plist>
